<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Thunder⚡ Edit profile"}) %>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <main class="editProfileMain">
        <h3 class="editProfileTitle">EDIT PROFILE</h3>

        <form class="editProfileForm" id="editProfileForm" action="/edit-profile/<%= locals.userLoggedIn.id %>?_method=put" method="post">
            <div class="registerFormLabelAndInputContainer editProfileLabelAndInputContainer">
                <label class="registerLabel editProfileLabel" for="name">Name</label>
                <input class="registerInput editProfileInput" type="text" id="name" name="name" value="<%= locals.userLoggedIn.name %>">
            </div>

            <div class="registerFormLabelAndInputContainer editProfileLabelAndInputContainer">
                <label class="registerLabel editProfileLabel" for="last_name">Last name</label>
                <input class="registerInput editProfileInput" type="text" id="last_name" name="last_name" value="<%= locals.userLoggedIn.last_name %>">
            </div>

            <div class="registerFormLabelAndInputContainer editProfileLabelAndInputEmailContainer">
                <label class="registerLabel editProfileLabel" for="email">Email</label>
                <input class="registerInput editProfileInput" type="email" id="email" name="email" value="<%= locals.userLoggedIn.email %>">
            </div>

            <button class="registerButton editProfileButton" type="submit">EDIT</button>
        </form>
    </main>

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>