<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Thunder⚡ Profile"}) %>
    <script src="/js/editProfilePictureScript.js" defer></script>
</head>
<body>
    <!-- ******************************** HEADER ******************************** -->
    <%- include("partials/header") %>
    <!-- ******************************** END HEADER ******************************** -->

    <!-- ******************************** MAIN ******************************** -->
    <main class="profileMain">
        <div class="profileImageContainer">
            <img class="profileImage" src="/images/usersPictures/<%= locals.userLoggedIn.profile_picture %>" alt="Profile picture">
            <form class="editProfilePictureForm" id="editProfilePictureForm" action="/edit-profile-picture/<%= locals.userLoggedIn.id %>?_method=put" method="post" enctype="multipart/form-data">
                <label class="newProfilePictureLabel" for="profilePicture">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="editProfilePictureIcon">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                        <path d="M9 13a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    </svg>
                </label>
                <input type="file" id="profilePicture" name="profilePicture">
                <% if (locals.errors && errors.profile_picture) { %>
                    <span class="backendRegisterError"><%= errors.profile_picture.msg %></span>
                <% } %>
            </form>
        </div>

        <div class="profileInformationAndEditProfileButtonContainer">
            <div class="profileInformationContainer">
                <div class="profileInformationBox">
                    <p class="profileInformationDescription">Name</p>
                    <p class="profileInformation"><%= locals.userLoggedIn.name %></p>
                </div>
    
                <div class="profileInformationBox">
                    <p class="profileInformationDescription">Last name</p>
                    <p class="profileInformation"><%= locals.userLoggedIn.last_name %></p>
                </div>
    
                <div class="profileInformationBox">
                    <p class="profileInformationDescription">E-mail</p>
                    <p class="profileInformation"><%= locals.userLoggedIn.email %></p>
                </div>
    
                <div class="profileInformationBox">
                    <p class="profileInformationDescription">Rank</p>
                    <p class="profileInformation"><%= locals.userLoggedIn.rank %></p>
                </div>
            </div>
    
            <div class="editProfileLinkContainer">
                <a class="editProfileLink" href="/edit-profile">EDIT PROFILE</a>
                <a class="editProfileLink" href="/logout">LOG OUT</a>
            </div>
        </div>
    </main>
    <!-- ******************************** END MAIN ******************************** -->

    <!-- ******************************** FOOTER ******************************** -->
    <%- include("partials/footer") %>
    <!-- ******************************** END FOOTER ******************************** -->
</body>
</html>